<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RAPS Nutri-Pharma</title>

    <environment include="Development">
        <link rel="icon" href="~/images/landing/logo_1.ico" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        @*<link rel="stylesheet" href="~/css/plugins/dataTables/datatables.min.css" />
            <link rel="stylesheet" href="~/css/plugins/morris/morris-0.4.3.min.css" />*@
        @*<link rel="stylesheet" href="~/css/plugins/iCheck/custom.css" />*@
        <link rel="stylesheet" href="~/css/plugins/blueimp/css/blueimp-gallery.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/css/site.css" />

     
    </environment>
    <environment exclude="Development">
        <link rel="icon" href="~/images/landing/logo_1.ico" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        @*<link rel="stylesheet" href="~/css/plugins/dataTables/datatables.min.css" />
            <link rel="stylesheet" href="~/css/plugins/morris/morris-0.4.3.min.css" />*@
        <link rel="stylesheet" href="~/css/plugins/iCheck/custom.css" />
        <link href="~/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body id="page-top" class="landing-page no-skin-config">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll ">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="page-scroll" href="#page-top" id="logo">
                        @*class="navbar-brand page-scroll"*@
                        @*RAPS Nutri-Pharma*@
                        <img src="~/images/landing/logo.png" />
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">About</a></li>
                        <li><a class="page-scroll" href="#team">Events</a></li>
                        <li><a class="page-scroll" href="#testimonials">Opportunity</a></li>
                        <li><a class="page-scroll" href="#pricing">Products</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                        <li><a class="page-scroll" asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    @RenderBody()
    <div class="row">
        <div class="col-lg-12 text-center">
            @*<a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>*@
            <p class="m-t-sm">
                Or follow us on social platform
            </p>
            <ul class="list-inline social-icon">
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/raps.nutripharma.39"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; 2017 RAPS Nutri-Pharma</strong><br /> "Sharing Good Health & Prosperity for Generation"</p>
        </div>
    </div>
    <environment include="Development">
        @*Main Scripts*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="~/js/inspinia.js"></script>
        <script src="~/js/plugins/pace/pace.min.js"></script>
        <script src="~/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
        <script src="~/js/plugins/wow/wow.min.js"></script>
       
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>


        @*Custom and Plugins*@
        <script src="~/js/inspinia.js"></script>
        <script src="~/js/plugins/pace/pace.min.js"></script>
        <script src="~/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
        <script src="~/js/plugins/wow/wow.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>
