
@{
    ViewData["Title"] = "BusinessBuildUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper page-heading">
    <div class="col-lg-12">
        <br />
        <ol class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">
                <strong>Business Build Up</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="list-group">
                    <a class="list-group-item active" href="#">
                        <h3 class="list-group-item-heading">Business Build-Up Bonus (Total Personal Group recruits)</h3>
                        <p>Only Rank Distributors qualifies in this program and shall be based on the following TOTAL number of members in their personal Group/Entire Genealogy (Levels 1 to 15)…</p>
                    </a>
                </div>
                <h1>April 2017 to December 31, 2019 </h1>
                <br />
                <h3>TRAVEL/TOURS w/ Pocket Money & CAR INCENTIVE FOR ACHIEVERS</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-navy"><h2 class="font-bold">Total Members</h2></th>
                            <th class="text-navy"><h2 class="font-bold">Travel & Tour Package </h2></th>
                            <th class="text-right text-navy"><h2 class="font-bold">Pocket Money</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><h3>20,000 downlines</h3></td>
                            <td><h3>3days/2nights Palawan Package OR 3days/2nights Bohol Package</h3></td>
                            <td class="text-right"><h3>P 5,000.00</h3></td>
                        </tr>
                        <tr>
                            <td><h3>30,000 downlines</h3></td>
                            <td><h3>3days/2nights Bangkok Package</h3></td>
                            <td class="text-right"><h3>10,000.00</h3></td>
                        </tr>
                        <tr>
                            <td><h3>40,000 downlines</h3></td>
                            <td><h3>4days/3nights Indonesia Package</h3></td>
                            <td class="text-right"><h3>20,000.00</h3></td>
                        </tr>
                        <tr>
                            <td><h3>50,000 downlines</h3></td>
                            <td><h3>4days/3nights Singapore Package</h3></td>
                            <td class="text-right"><h3>30,000.00</h3></td>
                        </tr>
                        <tr>
                            <td><h3></h3></td>
                            <td><h3></h3></td>
                            <td class="text-right text-navy"><h2 class="font-bold">Cash Incentive</h2></td>
                        </tr>
                        <tr>
                            <td class="text-danger"><h3>75,000 downlines</h3></td>
                            <td><h3></h3></td>
                            <td class="text-right text-danger"><h3>P 150,000.00 Cash</h3></td>
                        </tr>
                        <tr>
                            <td class="text-danger"><h3>100,000 downlines</h3></td>
                            <td><h3></h3></td>
                            <td class="text-right text-danger"><h3>P 300,000.00 Cash</h3></td>
                        </tr>
                        <tr>
                            <td><h3></h3></td>
                            <td><h3></h3></td>
                            <td class="text-right text-navy"><h2 class="font-bold">Car Incentive</h2></td>
                        </tr>
                        <tr>
                            <td class="text-success"><h3>200,000 downlines</h3></td>
                            <td><h3></h3></td>
                            <td class="text-right text-success"><h3>HYUNDAI EON or SUZUKI CELERIO</h3></td>
                        </tr>
                        <tr>
                            <td class="text-success"><h3>300,000 downlines</h3></td>
                            <td><h3></h3></td>
                            <td class="text-right text-success"><h3>NISSAN ALMERA or TOYOTA VIOS</h3></td>
                        </tr>
                        <tr>
                            <td class="text-success"><h3>400,000 downlines</h3></td>
                            <td><h3></h3></td>
                            <td class="text-right text-success"><h3>TOYOTA AVANZA or SUZUKI ERTIGA</h3></td>
                        </tr>
                        <tr>
                            <td class="text-success"><h3>500,000 downlines</h3></td>
                            <td><h3></h3></td>
                            <td class="text-right text-success"><h3>TOYOTA FORTUNER or FORD EVEREST</h3></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <h2 class="text-center font-bold text-navy">ALL CARS ARE FULLY PAID BY RAPS AND REWARDS THESE ABSOLUTELY FREE TO ACHIEVERS...</h2>
            </div>
        </div>
    </div>
</div>

