
@{
    ViewData["Title"] = "Elite Ranking";
}
<div class="row wrapper page-heading">
    <div class="col-lg-12">
        <br />
        <ol class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">
                <strong>Elite Ranking</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row elite-ranking">
    <div class="row text-center elite-tagline text-navy">
        <h1 class="text-strong">
            A Very Special Opportunity …
            <br />  <br />
            …Limited Nationwide Slots !
        </h1>
    </div>
    <div class="row elite-intro">
        <h2>
            Can you imagine…
            <br /> <br />
            your PENSION for LIFE is just your RANK-UP bonus?
        </h2>
        <h2 class="text-right">
            and you will be paid your monthly lifetime pension – not after 10 years;
            <br /> <br />
            but… immediately after you become an
        </h2>
        <h1 class="text-center text-navy text-strong">
            Elite Ranking Distributor!
        </h1>
    </div>
  
    <br/>
    <div class="col-lg-12">
        <div class="list-group">
            <a class="list-group-item active" href="#">
                <h3>Elite RANK MEMBERS BENEFITS</h3>
            </a>
        </div>
        <table class="table table-stripped small m-t-md">
            <tbody>
                <tr>
                    <td class="no-borders">
                        <i class="fa fa-circle text-navy"></i>
                    </td>
                    <td class="no-borders">
                        Participation in the annual net profit sharing
                    </td>
                </tr>
                <tr>
                    <td class="no-borders">
                        <i class="fa fa-circle text-navy"></i>
                    </td>
                    <td class="no-borders">
                        Prestige of being at the top
                    </td>
                </tr>
                <tr>
                    <td class="no-borders">
                        <i class="fa fa-circle text-navy"></i>
                    </td>
                    <td class="no-borders">
                        Inclusion in special corporate programs
                    </td>
                </tr>
                <tr>
                    <td class="no-borders">
                        <i class="fa fa-circle text-navy"></i>
                    </td>
                    <td class="no-borders">
                        Priority in all company’s mailers, info 	dissemination, etc.
                    </td>
                </tr>
                <tr>
                    <td class="no-borders">
                        <i class="fa fa-circle text-navy"></i>
                    </td>
                    <td class="no-borders">
                        Special Rank status ( ID, business cards,etc.)
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-lg-12">
        <div class="list-group">
            <a class="list-group-item active" href="#">
                <h3>Elite Ranks and their Requirements…</h3>

            </a>
        </div>
        <h2 class="text-center">Only 50 slots Nationwide</h2>
        <div class="widget yellow-bg p-lg text-center no-timeframe">
            <div class="m-b-md">
                <h1 class="m-xs"> NO TIME FRAME</h1>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Direct Affiliates (Level 1)</th>
                    <th>Lifetime Monthly Pension</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Star Diamond</td>
                    <td>60 Affiliates </td>
                    <td>
                        P   5,000.00
                    </td>
                </tr>
                <tr>
                    <td>Crown Diamond</td>
                    <td>100 Affiliates </td>
                    <td>
                        12,000.00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12">
        <div>
            <div class="list-group">
                <a class="list-group-item active" href="#">
                    <h3>Elite Members Pension Pool</h3>
                </a>
            </div>
            <table class="table table-stripped small m-t-md">
                <tbody>
                    <tr>
                        <td class="no-borders">
                            <i class="fa fa-circle text-navy"></i>
                        </td>
                        <td class="no-borders">
                            Participation in the Pool is only ensured with a monthly maintenance purchase of:
                        </td>
                    </tr>
                    <tr>
                        <td class="no-borders">
                            <i class="fa fa-circle text-navy"></i>
                        </td>
                        <td class="no-borders">
                            Star Diamond 100PV…….Crown Diamond 200PV
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="list-group">
                <a class="list-group-item active" href="#">
                    <h3>NO maintenance - NO Pension</h3>
                </a>
            </div>
            <table class="table table-stripped small m-t-md">
                <tbody>
                    <tr>
                        <td class="no-borders">
                            <i class="fa fa-circle text-navy"></i>
                        </td>
                        <td class="no-borders">
                            Failure to maintain in 3 months will FORFEIT Elite monthly cash pension and right to transfer business permanently.
                        </td>
                    </tr>
                    @*<tr>
                        <td class="no-borders">
                            <i class="fa fa-circle text-navy"></i>
                        </td>
                        <td class="no-borders">
                            
                        </td>
                    </tr>*@
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <h1 class="text-center text-navy text-strong">Don’t miss out on this true    once-in-a-lifetime opportunity!</h1>
    </div>
</div>

