@{
    ViewData["Title"] = "Raps Nutri-Pharma";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        OUR VISION
                    </h1>
                    <h2>
                        Be the leading Filipino owned company offering a massive
                        <br /> opportunity to much larger number of folks and consistent
                        <br /> provider for enhanced well-being…
                    </h2>
                    <p>
                        <a class="btn btn-lg btn-primary page-scroll" href="#features" role="button">READ MORE</a>

                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="~/images/landing/laptop.png" alt="laptop" />
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>OUR PURPOSE</h1>
                    <h2>Sharing good health and prosperity for generations… <br /> Making success very accessible to everyone. </h2>
                    <p><a class="btn btn-lg btn-primary page-scroll" href="#features" role="button">Learn more</a></p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<section id="features" class="container services">
    @*<div class="row">
            <div class="col-sm-12">
                <div class="well well-sm">
                    <h2>
                            <i class="fa fa-cubes features-icon"></i>
                            <span class="navy">
                                Who We Are?
                            </span>
                        </h2>


                </div>
            </div>

        </div>*@
    <div class="container" id="intro">
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-comment features-icon"></i>
                <h1>
                    <span class="navy">
                        RAPS NUTRI-PHARMA
                    </span>
                </h1>
                <h4>
                    is a company that has come together with a unified purpose in mind to promote a healthy well-being for the Family and share prosperity for generations to come.

                    <br />

                    <span class="navy">
                        RAPS
                    </span>
                    shall only provide market, Science backed Health and Wellness Solutions…
                    <br />
                    Our strength lies in understanding the needs of the Filipino. His desire to look good, keep fit and healthy, coupled with his ambition to succeed in life – these are the very basic elements from which RAPS NUTRI-PHARMA developed its exquisite line of special health and wellness products, and a revolutionary business concept.
                    <br />
                    <span class="navy">
                        RAPS
                    </span>
                    management team, with a combined business experience in direct sales, promo and advertising, product development and distribution, training and retail marketing, is deeply committed to enhancing the Filipino’s total well-being, health and wealth wise…
                </h4>
            </div>
        </div>
    </div>
</section>

<section class="container features" id="about">

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>About</h1>
            <br />
            @*<span class="navy"> with many custom components</span> </h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>*@
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-puzzle-piece features-icon"></i>
                <h2><strong>OUR PURPOSE</strong></h2>
                <h3>
                    Sharing good health and prosperity for generations…
                    <br />
                    Making success very accessible to everyone.
                </h3>
            </div>

        </div>
        <div class="col-md-4 text-center  wow zoomIn">
            <img src="~/images/landing/perspective.png" alt="dashboard" class="img-responsive">

        </div>
        <div class="col-md-4 text-center wow fadeInRight">
            <div>
                <i class="fa fa-puzzle-piece features-icon"></i>
                <h2><strong>OUR VISION</strong></h2>
                <h3>Be the leading Filipino owned company offering a massive opportunity to much larger number of folks and consistent provider for enhanced well-being…</h3>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <i class="fa fa-puzzle-piece features-icon"></i>
            <h2>
                <strong>
                    WE OFFER
                </strong>
            </h2>
            <h3>
                A unique relational business opportunity with virtually NO CAPITAL, Simple and EASY-TO-DO, <br />
                reasonable Profits and proudly EXCELLENT PRODUCTS…
                <br />
                The consumers win (effective product blends), The Referral Member Distributors Win (true residual income) and The Company Wins (to stay competitive as a healthy business provider).
            </h3>
        </div>
    </div>
    <br /><br />
</section>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Latest Events</h1>
                @*<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>*@
            </div>
        </div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <h2>Christmas Party 2017</h2>
                            @*<p>
                                    <strong>blueimp Gallery</strong> is a touch-enabled, responsive and customizable image & video gallery, carousel and lightbox, optimized for both mobile and desktop web browsers.
                                    It features swipe, mouse and keyboard navigation, transition effects, slideshow functionality, fullscreen support and on-demand content loading and can be extended to display additional content types.
                                    Full documentation you can find at: <a href="https://github.com/blueimp/Gallery/blob/master/README.md" target="_blank">https://github.com/blueimp/Gallery/blob/master/README.md</a>
                                </p>*@
                            <h4>Davao Group</h4>
                            <h5>First Christmas get together (December 23, 2017)</h5>
                            <div class="lightBoxGallery">

                                <a href="~/images/events/2017cmparty1.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty1s.jpg"></a>
                                <a href="~/images/events/2017cmparty2.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty2s.jpg"></a>
                                <a href="~/images/events/2017cmparty3.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty3s.jpg"></a>
                                <a href="~/images/events/2017cmparty4.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty4s.jpg"></a>
                                <a href="~/images/events/2017cmparty5.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty5s.jpg"></a>
                                <a href="~/images/events/2017cmparty6.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty6s.jpg"></a>
                                <a href="~/images/events/2017cmparty7.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty7s.jpg"></a>
                                <a href="~/images/events/2017cmparty8.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty8s.jpg"></a>
                                <a href="~/images/events/2017cmparty9.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty9s.jpg"></a>
                                <a href="~/images/events/2017cmparty10.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty10s.jpg"></a>
                                <a href="~/images/events/2017cmparty11.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty11s.jpg"></a>
                                <a href="~/images/events/2017cmparty12.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty12s.jpg"></a>
                                <a href="~/images/events/2017cmparty13.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty13s.jpg"></a>
                                <a href="~/images/events/2017cmparty14.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty14s.jpg"></a>
                                <a href="~/images/events/2017cmparty15.jpg" title="Image from Christmas Party 2017" data-gallery=""><img src="~/images/events/2017cmparty15s.jpg"></a>
                                <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                                <div id="blueimp-gallery" class="blueimp-gallery">
                                    <div class="slides"></div>
                                    <h3 class="title"></h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p></p>
                </div>
            </div>
        </div>
</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>
                    Making Success Very Accessible to Everyone
                </h1>
                <h2><i>“Sharing Good Health and Prosperity for Generations”</i></h2>
                <div class="testimonials-text">
                    <i>
                        Our goals while simple will inspire success and allow you to REDEFINE POSSIBLE…
                        <br />
                        RAPS generously rewards experienced business builders as well as those brand new to the industry…
                    </i>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="comments gray-section" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>REWARDS PLAN</h1>
                <p>Making Success Very Accessible to Everyone</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>UNILEVEL INCOME/REWARDS PROGRAM </h2>
                <div class="wrapper wrapper-content animated fadeInUp">
                    <ul class="notes">
                        <li>
                            <div>
                                <small>Income 1</small>
                                <h4>Direct  & Indirect Recruits Referral Bonus (Levels 1 to 15)</h4>
                                <p>Direct  & Indirect Recruits Referral Bonus (Levels 1 to 15)</p>
                                <a asp-controller="Home" asp-action="ReferralBonus"><i class="fa fa-envelope-o "></i> View More</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <small>Income 2</small>
                                <h4>Business Build-Up Bonus (Total Personal Group recruits)</h4>
                                <p>Business Build-Up Bonus (Total Personal Group recruits)</p>
                                <a asp-controller="Home" asp-action="BusinessBuildUp"><i class="fa fa-envelope-o "></i> View More</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <small>Income 3</small>
                                <h4>Monthly Repeat Purchase Commission (Levels 1 to 15)</h4>
                                <p>Monthly Repeat Purchase Commission (Levels 1 to 15)</p>
                                <a asp-controller="Home" asp-action="RepeatPurchase"><i class="fa fa-envelope-o "></i> View More</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <small>Income 4</small>
                                <h4>Monthly Maintenance Purchase Compliance Bonus</h4>
                                <p>Monthly Maintenance Purchase Compliance Bonus</p>
                                <a asp-controller="Home" asp-action="MaintenancePurchase"><i class="fa fa-envelope-o "></i> View More</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <small>Income 5</small>
                                <h4>LIFETIME STOCKIST PURCHASE REWARDS PLAN</h4>
                                <p>LIFETIME STOCKIST PURCHASE REWARDS PLAN</p>
                                <a asp-controller="Home" asp-action="PepetualBonus"><i class="fa fa-envelope-o "></i> View More</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <small>Income 6</small>
                                <h4>Profit Sharing/Loyalty Bonus for Ranking Members Only</h4>
                                <p>Profit Sharing/Loyalty Bonus for Ranking Members Only</p>
                                <a asp-controller="Home" asp-action="LoyaltyBonus"><i class="fa fa-envelope-o "></i> View More</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <small>Income 7</small>
                                <h4>Retail Profit</h4>
                                <p>Retail Profit</p>
                                <a><i class="fa fa-envelope-o "></i> View More</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <small>Income 8</small>
                                <h4>Transferrable Business</h4>
                                <p>Transferrable Business</p>
                                <a asp-controller="Home" asp-action="TranferableBusiness"><i class="fa fa-envelope-o "></i> View More</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <small>Income 9</small>
                                <h4>Elite Ranking Program</h4>
                                <p>Elite Ranking Program</p>
                                <a asp-controller="Home" asp-action="EliteRanking"><i class="fa fa-envelope-o "></i> View More</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center wow fadeInLeft">

                <div class="widget style1">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <i class="fa fa-trophy fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            @*<span> Today income </span>*@
                            <h2 class="font-bold">To be a distributor just purchase any entry products pack at P 1,800.00</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center wow fadeInRight">
                <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                        <h3>Not Yet a Member?</h3>
                        <div class="p-m" id="register-here">
                            <a asp-area="" asp-controller="Account" asp-action="Register"><h2 class="m-xs"><i class="fa fa-user-md"></i> Register Here</h2></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>RANK MEMBERS BUSINESS PRIVILEGES</h1>
                @*<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>*@
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>RANK AFFILIATES</small>
                <h1>Bronze </h1>
                <div class="widget style1 blue-bg" id="bronze">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-envelope-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> NUMBER OF DIRECTLY SPONSORED  </span>
                            <h1 class="font-bold">5 or More</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 features-text">
                <small>RANK AFFILIATES</small>
                <h1>Silver </h1>
                <div class="widget style1 red-bg" id="silver">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-envelope-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> NUMBER OF DIRECTLY SPONSORED  </span>
                            <h1 class="font-bold">10 or More</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>RANK AFFILIATES</small>
                <h1>Gold </h1>
                <div class="widget style1 yellow-bg" id="gold">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-envelope-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> NUMBER OF DIRECTLY SPONSORED  </span>
                            <h1 class="font-bold">15 or More</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 features-text">
                <small>RANK AFFILIATES</small>
                <h1>Diamond</h1>
                <div class="widget style1 navy-bg" id="diamond">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-envelope-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> NUMBER OF DIRECTLY SPONSORED  </span>
                            <h1 class="font-bold">25 or More</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section id="pricing" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Products</h1>
                @*<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>*@
            </div>
        </div>
        <div class="row" id="product">
            <div class="col-lg-12 text-center">
                @*<i class="fa fa-comment features-icon"></i>*@
                <h2>
                    <span class="navy">
                        Why do people get sick? And Why does illness come back?
                    </span>
                </h2>
                <h4>
                    Humans needs oxygen to live… without oxygen body cells can’t survive… Brain cells can be damaged within minutes without oxygen… However, oxygen mediated chemical reactions of the body’s metabolism creates potent FREE RADICALS which pose enormous danger for us at the cellular level…
                </h4>
                <br /><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 wow zoomIn">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        @*class="product-imitation"*@
                        <div id="mxg">
                            <img src="~/images/landing/mxg.jpg" />
                        </div>
                        <div class="product-desc">
                            @*<small class="text-muted">Category</small>*@
                            <a href="#" class="product-name"> MXG</a>
                            <div class="small m-t-xs">
                                A Potential Life Saver.
                            </div>
                            <div class="m-t text-righ">

                                <a asp-area="" asp-controller="Product" asp-action="MXG" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow zoomIn">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div id="spiru">
                            <img src="~/images/landing/spiru.jpg" />
                        </div>
                        <div class="product-desc">

                            @*<small class="text-muted">Category</small>*@
                            <a href="#" class="product-name"> SPIRU C</a>

                            <div class="small m-t-xs">
                                Nature's Miracle Food... the nutritional gold mine.
                            </div>
                            <div class="m-t text-righ">

                                <a asp-area="" asp-controller="Product" asp-action="Spiru" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow zoomIn">
                <div class="ibox">
                    <div class="ibox-content product-box active">

                        <div id="xtrim">
                            <img src="~/images/landing/xtrim.jpg" />
                        </div>
                        <div class="product-desc">

                            @*<small class="text-muted">Category</small>*@
                            <a href="#" class="product-name"> XTRIM</a>

                            <div class="small m-t-xs">
                                Amazing sugar blocker and fat burner formula...
                            </div>
                            <div class="m-t text-righ">

                                <a asp-area="" asp-controller="Product" asp-action="Xtrim" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                @*<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>*@
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-4">
                <h2><span class="navy">Address</span></h2>
                <h3>
                    Door 9 Building 1 Regina Complex<br />
                    C.M. Recto Avenue, Davao City<br />
                </h3>
                <h2><span class="navy">Contact No.</span></h2>
                <h3>
                    <span class="fa fa-phone"> &nbsp; (082) 298-8728</span>
                </h3>
                <h3>
                    <span class="fa fa-mobile-phone"> &nbsp; &nbsp;  09228716109 | 09255561326 | 09205071446</span>
                </h3>
            </div>
            <div class="col-lg-8">
                <div class="google-map" id="map"></div>
            </div>

        </div>

    </div>
</section>
@section Scripts{

    <script>

        $(document).ready(function () {

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

            // Page scrolling feature
            $('a.page-scroll').bind('click', function (event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
                $("#navbar").collapse('hide');
            });
        });

        var cbpAnimatedHeader = (function () {
            var docElem = document.documentElement,
                header = document.querySelector('.navbar-default'),
                didScroll = false,
                changeHeaderOn = 200;
            function init() {
                window.addEventListener('scroll', function (event) {
                    if (!didScroll) {
                        didScroll = true;
                        setTimeout(scrollPage, 250);
                    }
                }, false);
            }
            function scrollPage() {
                var sy = scrollY();
                if (sy >= changeHeaderOn) {
                    $(header).addClass('navbar-scroll')
                }
                else {
                    $(header).removeClass('navbar-scroll')
                }
                didScroll = false;
            }
            function scrollY() {
                return window.pageYOffset || docElem.scrollTop;
            }
            init();

        })();

        // Activate WOW.js plugin for animation on scrol
        new WOW().init();
        //google.maps.event.addDomListener(window, 'load', initMap);

        function initMap() {
            var uluru = { lat: 7.066597199999999, lng: 125.61101550000001 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
            //var mapOptions1 = {
            //    zoom: 15,
            //    center: new google.maps.LatLng(7.066597199999999, 125.61101550000001),
            //    // Style for Google Maps
            //    styles: [{ "featureType": "water", "stylers": [{ "saturation": 43 }, { "lightness": -11 }, { "hue": "#0088ff" }] }, { "featureType": "road", "elementType": "geometry.fill", "stylers": [{ "hue": "#ff0000" }, { "saturation": -100 }, { "lightness": 99 }] }, { "featureType": "road", "elementType": "geometry.stroke", "stylers": [{ "color": "#808080" }, { "lightness": 54 }] }, { "featureType": "landscape.man_made", "elementType": "geometry.fill", "stylers": [{ "color": "#ece2d9" }] }, { "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [{ "color": "#ccdca1" }] }, { "featureType": "road", "elementType": "labels.text.fill", "stylers": [{ "color": "#767676" }] }, { "featureType": "road", "elementType": "labels.text.stroke", "stylers": [{ "color": "#ffffff" }] }, { "featureType": "poi", "stylers": [{ "visibility": "off" }] }, { "featureType": "landscape.natural", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "color": "#b8cb93" }] }, { "featureType": "poi.park", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.sports_complex", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.medical", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.business", "stylers": [{ "visibility": "simplified" }] }]
            //};
            //// Get all html elements for map
            //var mapElement1 = document.getElementById('map');
            //// Create the Google Map using elements
            //var map1 = new google.maps.Map(mapElement1, mapOptions1);
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIRlUOJjbhXexmv7kAjTWgYcbWeNppnE0&callback=initMap">
    </script>
}