
@{
    ViewData["Title"] = "LoyaltyBonus";
}
<div class="row wrapper page-heading">
    <div class="col-lg-12">
        <br />
        <ol class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">
                <strong>Profit Sharing/Loyalty Bonus</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="list-group">
                    <a class="list-group-item active" href="#">
                        <h3 class="list-group-item-heading">Profit Sharing/Loyalty Bonus for Ranking Members Only</h3>
                        
                    </a>
                    <br/>
                    <h2>
                        RAPS will set aside 3% from its net sales to be distributed as a profit sharing to its Loyal/Active Business Leaders. The savings shall be distributed <span class="text-danger">(every 15th of December)</span> according to rank. Net sales for this program effective from January 2018:
                    </h2>
                 
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget style1 yellow-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span> Rank </span>
                                    <h3 class="font-bold">BRONZE 10% </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span> Rank </span>
                                    <h3 class="font-bold">SILVER 20% </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 yellow-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span> Rank </span>
                                    <h3 class="font-bold">GOLD 30% </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <span> Rank </span>
                                    <h3 class="font-bold">DIAMOND 40% </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>