
@{
    ViewData["Title"] = "MaintenancePurchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper page-heading">
    <div class="col-lg-12">
        <br />
        <ol class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">
                <strong>Monthly Maintenance Purchase</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="list-group">
                    <a class="list-group-item active" href="#">
                        <h3 class="list-group-item-heading">Monthly Maintenance Purchase Compliance Bonus</h3>
                    </a>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>TOTAL BUYING MEMBERS</th>
                            <th class="text-right">BRONZE</th>
                            <th class="text-right">SILVER</th>
                            <th class="text-right">GOLD</th>
                            <th class="text-right">DIAMOND</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>20,000</td>
                            <td class="text-right">5,000.00</td>
                            <td class="text-right">10,000.00</td>
                            <td class="text-right">15,000.00</td>
                            <td class="text-right">25,000.00</td>
                        </tr>
                        <tr>
                            <td>30,000</td>
                            <td class="text-right">10,000.00</td>
                            <td class="text-right">20,000.00</td>
                            <td class="text-right">30,000.00</td>
                            <td class="text-right">45,000.00</td>
                        </tr>
                        <tr>
                            <td>40,000</td>
                            <td class="text-right">20,000.00</td>
                            <td class="text-right">30,000.00</td>
                            <td class="text-right">45,000.00</td>
                            <td class="text-right">60,000.00</td>
                        </tr>
                        <tr>
                            <td>75,000</td>
                            <td class="text-right">50,000.00</td>
                            <td class="text-right">60,000.00</td>
                            <td class="text-right">70,000.00</td>
                            <td class="text-right">85,000.00</td>
                        </tr>
           
                        <tr>
                            <td>100,000</td>
                            <td class="text-right">70,000.00</td>
                            <td class="text-right">80,000.00</td>
                            <td class="text-right">100,000.00</td>
                            <td class="text-right">120,000.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

