
@{
    ViewData["Title"] = "Stockistship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br />
<hr/>
<div class="ibox-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>JUNIOR MOBILE STOCKIST</h1>
                </div>
                <div class="panel-body">
                    <h3>Gross Investment:  P 30,600.00</h3>
                    <h3>INITIAL INVENTORY:</h3>
                    <table class="table">
                   
                        <tbody>
                            <tr>
                                <td>ENTRY PACK</td>
                                <td>12    x 	P 1,800.00</td>
                                <td>P 21,600.00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Less 7.5%</td>
                                <td>1,620.00</td>
                                <td>19,980.00</td>
                            </tr>
                            <tr>
                                <td>MAINTENANCE PACK</td>
                                <td>12   x 	 P    750.00</td>
                                <td>P   9,000.00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Less 5%</td>
                                <td>450.00</td>
                                <td>8,550.00</td>
                            </tr>
                          
                            <tr>
                                <td></td>
                                <td></td>
                                <td>NET INVESTMENT</td>
                                <td>P 28,530.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1>SENIOR MOBILE STOCKIST</h1>
                </div>
                <div class="panel-body">
                    <h3>Gross Investment:  P 61,500.00</h3>
                    <h3>INITIAL INVENTORY:</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>ENTRY PACK</td>
                                <td>30  x  1,800.00</td>
                                <td>P  54,000.00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Less 7.5%</td>
                                <td>4,050.00</td>
                                <td>49,950.00</td>
                            </tr>
                            <tr>
                                <td>MAINTENANCE PACK</td>
                                <td>10   x 	 P    750.00</td>
                                <td>P   7,500.00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Less 5%</td>
                                <td>375.00</td>
                                <td>7,125.00</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td>NET INVESTMENT</td>
                                <td>P 57,075.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h1>MEGA STOCKIST</h1>
                </div>
                <div class="panel-body">
                    <h3>Gross Investment:  P 150,000.00</h3>
                    <h3>INITIAL INVENTORY:</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>ENTRY PACK</td>
                                <td>75 x P1,800</td>
                                <td>P 135,000.00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Less 10%</td>
                                <td>13,500.00</td>
                                <td>P 121,500.00</td>
                            </tr>
                            <tr>
                                <td>MAINTENANCE PACK</td>
                                <td>20   x 	 P    750.00</td>
                                <td>P   15,000.00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Less 5%</td>
                                <td>1,125.00</td>
                                <td>13,875.00</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td>NET INVESTMENT</td>
                                <td>P 135,375.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

