
@{
    ViewData["Title"] = "TranferableBusiness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper page-heading">
    <div class="col-lg-12">
        <br />
        <ol class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">
                <strong>Transferrable Business</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="list-group">
                    <a class="list-group-item active" href="#">
                        <h3 class="list-group-item-heading">Transferrable Business</h3>
                    </a>
                </div>

                <br />
                <h1 class="font-bold text-navy"><span class="font-bold">GOLD</span> and <span class="font-bold">DIAMOND</span> RANK MEMBERS BUSINESS PRIVILEDGE:</h1>
                <h2>At the option of a Gold/Diamond distributor their RAPS Business can be assigned to/or be inherited by its declared beneficiary.</h2>
           
            </div>
        </div>
    </div>
</div>
