@model Product;
@{
    ViewData["Title"] = "Extrim";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Extrim product detail</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Product</a>
            </li>
            <li class="active">
                <strong>XTRIM</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content" id="product-wrapper">

                    <div class="row" id="product-image">
                        <div class="col-md-5">


                            <div class="product-images">

                                <div>
                                    <div class="image-imitation">
                                        <img src="~/images/landing/xtrim.jpg" alt="Extrim" />
                                    </div>
                                </div>
                                @*<div>
                                    <div class="image-imitation">
                                        <img src="~/images/landing/mxg_bot.png" alt="MXG" />
                                    </div>

                                </div>*@

                            </div>
                            <div class="m-t-md">
                                <br />
                                <h2 class="product-main-price">&nbsp;&nbsp; <span class="navy">Php. @Model.Srp</span> <small class="text-muted">SRP Price</small> </h2>


                            </div>
                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                @Model.Descrip
                            </h2>
                            <span class="navy">
                                <small>@Model.Tagline</small>
                            </span>

                            <hr>

                            <h3>Product description</h3>

                            <div class="small text-muted" id="product-descrip">
                                <p>
                                    GREEN COFFEE BEAN EXTRACT are rich in antioxidants, which reduce the damaging effects of
                                    free radicals in our body and take care of our overall health. A number of studies have
                                    confirmed that raw and unprocessed green coffee beans possess 100% pure Chlorogenic Acid
                                    (CGA), which is basically an ester of caffeic acid having strong antioxidant properties. It can put
                                    a check on the levels of glucose in our bloodstream and prevent our skin cells from getting
                                    dented.


                                    <br />
                                    <br />
                                    The Chlorogenic acid present in Green coffee beans is also known as a metabolism
                                    booster. It increases the basal metabolic rate of our body to a great extent, which minimizes
                                    excessive release of glucose from the liver into blood.


                                    <br />
                                    <br />
                                    Green coffee Beans raise our fat burning capability and eventually help us shed off excess weight;
                                    perks up the burning metabolism of our body so that we can burn out unwanted fat and calories fast.
                                    Being a strong and effective appetite suppressant, it can control our cravings for food and averts us
                                    from overeating. So, our body starts burning the fat deposits and we get rid of additional weight.
                                    Green Coffee contains large amount of kelp, a certain type of seaweed loaded with essential
                                    vitamins and minerals.

                                    <br />
                                    <br />
                                    Green Coffee Beans are also capable of treating Type 2 Diabetes successfully. Their extract is
                                    known to lower high levels of sugar in our bloodstream, while accelerating weight loss.
                                    Green Coffee prevents Low-Density Lipoprotein (LDL), also known as ‘bad cholesterol’,
                                    to stick on the blood vessels, thus, avoiding cardiovascular disorders including cardiac arrest.
                                    Green Coffee Beans imposes a positive impact on our blood vessels by preventing platelets from
                                    getting clustered. Green coffee is a natural detox. It cleanses our liver to make it free from toxins,
                                    bad cholesterols, unnecessary fats, and so on.
                                    <br />
                                    <br />
                                    GARCINIA CAMBOGIA prevents liver processes associated with the conversion of energy into
                                    fat cells, doesn’t allow liver enzymes to metabolize energy and turn it into fat. Rather it helps
                                    channel these calories to be used for developing lean muscle mass and energy to be used up by
                                    the body. It helps the liver make energy available for bodily needs instead of being stored as
                                    fat, helps on the appetite suppression and control with increased energy levels and improve
                                    serotonin levels. Once serotonin levels are normalized, people are less likely to experience
                                    hunger cravings associated or triggered by emotional circumstances (stress, anxiety, sadness,
                                    depression, etc.). GARCINIA CAMBOGIA aids you in your weight loss efforts by providing a well-
                                    being boost into your lifestyle. Taken within an active and health-conscious context, it has the
                                    ability to improve one’s mood and help lose weight safely and efficiently.
                                    <br />
                                    <br />
                                    ACAI BERRY one of the most desirable benefits of Acai Berry is weight loss, with acai balance
                                    you can flush up to 25 pounds of waste and toxins. ACAI BERRY helps improve your
                                    overall energy. You can rest better, and wake up more refreshed in the morning. Acai balance is
                                    especially effective at boosting your metabolism. Acai Berry works to improve your blood flow,
                                    thus staving off many serious ailments. Improved circulation makes you feel better and live
                                    longer. ACAI BERRY unique properties will make your skin look and feel younger; gives your
                                    heart the nutrients it needs to work properly and strong; improves mental clarity; will lower
                                    your cholesterol significantly over time. Acai Berry contains several antioxidants that work to
                                    eliminate harmful substances from your body. ACAI BERRY enhances sexual performance.
                                    <br />
                                    <br />
                                    GRAPE SEED EXTRACT (GSE) substantially increased levels of antioxidants in the blood, Vitamin
                                    E, flavonoids, linoleic acid and pycnogenols. Oligomeric proanthocyanidins are highly
                                    concentrated in Grape Seed Extract. Extracts from Grape Seeds treat a range of health
                                    problems related to free radical damages, blood sugar problem, heart disease, cancer and of
                                    the liver. GSE help prevent cholesterol oxidation and damage to the cardiovascular system;
                                    effectively prevents damage to liver cells caused by chemotherapy medications; improves
                                    vision; relieves chronic venous insufficiency & varicose veins; PMS; circulatory disorders and
                                    cirrhosis; enhances the immune system; nourish and tightens the skin; reverse aging process;
                                    and, a lot more of known chronic ailments…
                                    <br />
                                    <br />
                                    SPIRULINA considered as earth’s miracle probiotic and super food needed to restore
                                    human health. Scientific research suggests it has a potent anti-cancer properties, that can
                                    protect the body’s cellular system against free radical damage and successfully treats liver
                                    disease.
                                    <br />
                                    <br />
                                    PRIMARY & SECONDARY APPLICATIONS OF SPIRULINA: Blood builder, hepatitis, hypoglycemia,
                                    gastritis, glaucoma, chronic fatigue, malnutrition, diabetes & obesity, allergies, goiter, anemia,
                                    gout, appetite suppressant, arthritis, skin problems, BP disorders, liver disease, ulcers…
                                    <br />
                                    <br />
                                    <strong>5 Health Benefits of Stevia</strong>
                                    <br />
                                    <br />
                                    1. Anticancer Abilities. In 2012, Nutrition and Cancer highlighted a groundbreaking study that, for the first time ever, connected stevia consumption to breast cancer reduction. It was observed that stevioside enhances cancer apoptosis (cell death) and decreases certain stress pathways in the body that contribute to cancer growth. Stevia is potential as a natural cancer treatment.
                                    treatment.
                                    <br /><br />
                                    2. Sweet News for Diabetics. Using stevia instead of white sugar can be extremely helpful to diabetics who need to avoid conventional sugar as much as possible on a diabetic diet plan. An article published in the Journal for dietary supplements has established Stevia could balance insulin resistance, triglycerides and alkaline phosphatase, which is raised in cancer patients. Another study found that having stevia before a meal reduced post-meal blood glucose and insulin levels.
                                    <br /><br />
                                    3. Helps Weight Loss. Stevia is a plant-based, zero-calorie sweetener, it helps you decrease not only your overall daily sugar intake, but also your caloric intake. By keeping your sugar and calorie intake in a healthy range, you can help fend off obesity as well as many health problems linked with obesity, like diabetes and metabolic syndrome.
                                    <br /><br />
                                    4. Improves Cholesterol Levels. Researchers concluded that stevia extract effectively decreases elevated serum cholesterol levels, including triglycerides and LDL (“bad cholesterol”) ,while increasing good HDL cholesterol. 
                                    <br /><br />
                                    5. Lowers High Blood Pressure. “Available research is promising for the use of stevia in hypertension,” says Catherine Ulbricht, senior pharmacist at Massachusetts General Hospital in Boston and co-founder of Natural Standard Research Collaboration. Ulbricht said Natural Standard gave Stevia a “grade A for efficacy” in reducing blood pressure. 
                                </p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.product-images').slick({
                dots: true
            });

        });

    </script>
}



